<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Senthil Sivasubramanian</title>
    <link rel="stylesheet" href="/static/style/foundation.css" />
    <script src="/static/scripts/vendor/modernizr.js"></script>
	<style>
		.engg
		{
			font-size : .5em;
		}
	</style>
  </head>
  <body>
    
    <div class="row">
		<div class="large-12 columns">
			<div class="large-6 medium-6 columns columns">
				<h3>Senthil Sivasubramanian</h3>
			</div>
			<div class="large-6 medium-6 columns panel">
				<h5>senthil.siva@yahoo.com</h5>
				<h5>(650)867-3887</h5>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="large-12 columns">      	
	        <h3>Summary </h3>
			<ul>	
				<li>Currently working as a <strong>Senior Software Engineer</strong> on large distributed ecommerce 
				<strong>ASP.NET</strong> web application of McAfee Inc i.e. 
				<strong>http://home.mcafee.com</strong> handling millions of requests/second.</li>
				<li>9+ years of expertise in architecting and developing both front end and backend of a multi-tier Ecommerce SOA applications using 
				<strong>.Net framework, C#. Net, ASP.NET,</strong> and <strong>Object Oriented JavaScript technologies</strong> with sound knowledge of software engineering methodologies with proven record of mentoring engineers on scalability, performance.</li>
				<li>Extensive programming experience on <strong>REST API</strong> and data modeling for communication using 
				<strong>JSON/XML</strong> format.</li>
				<li>Deep understanding and working of <strong>HTTP, JavaScript / AJAX</strong> for large-scale applications.</li>
				<li>Expertise in developing and debugging applications using JavaScript framework like 
				<strong>jquery</strong>, <strong>knockoutjs</strong>, <strong>angularjs</strong>.</li>
				<li>Proficient in working with <strong>NodeJS</strong> Server Side JavaScript framework and created internal tools.</li>
				<li>Experienced in working with SqlServer for database design and CRUD operations.</li>
				<li>Designed and developed the <strong>OAUTH 2.0 client modules</strong> for Single-Signon between McAfee and Intel Federated ID service.</li>
				<li>Adept in creating scripts with <strong>Python</strong>.</li>
			</ul>
		</div>
		<div class="large-12 columns">
			<h3>Projects</h3>
			<ul>	
			<li>Created a telemetry application which uses <strong>Javascript/Flask (Python) Web Framework</strong> and Hadoop for collecting telemetry data. <a href="https://github.com/senthil1216/telemetry">
				https://github.com/senthil1216/telemetry</a></li>				
				<li>Developed a blogging platform using <strong>Flask Python</strong> and <strong>Google 
				App Engine</strong> <a href="http://root-node.appspot.com"> http://root-node.appspot.com</a> and source code @ <a href="https://github.com/senthil1216/root-node">
				https://github.com/senthil1216/root-node</a></li>				
				<li>Developed a webapp which plots all filming locations in SanFrancisco City based on movie title and hosted using <strong>Open-Shift Online</strong> @ <a href="http://ubercode-senthilsiva.rhcloud.com"> http://ubercode-senthilsiva.rhcloud.com</a> and source code @ <a href="https://github.com/senthil1216/frisco-flix">https://github.com/senthil1216/frisco-flix</a></li>				
			</ul>
		</div>
		<div class="large-12 columns">
	        <h3>Technical Skills</h3>
			<table class="large-12 columns">
				<tr>
					<td class="large-6 medium-6 columns">Languages</td>
					<td class="large-6 medium-6 columns">C#, Python</td>
				</tr>
				<tr>
					<td class="large-6 medium-6 columns">Client Scripting</td>
					<td class="large-6 medium-6 columns">Javascript, Jquery, Knockoutjs, AngularJS</td>
				</tr>
				<tr>
					<td class="large-6 medium-6 columns">MS.Net Technologies</td>
					<td class="large-6 medium-6 columns">ASP.NET, ASP.NET MVC4, WCF, REST API</td>
				</tr>				
				<tr>
					<td class="large-6 medium-6 columns">Version Control</td>
					<td class="large-6 medium-6 columns">Accurev, Git, VSS</td>
				</tr>				
			</table>
		</div>
		<div class="large-12 columns">
	        <h3>Education<h3>
			<div class="large-6 medium-6 columns">
				<p class="engg">Bachelor of Engineering - UNIVERSITY OF MADRAS</p>			
			</div>
			<div class="large-6 medium-6 columns">
				<p class="engg">Chennai,India [1999 - 2003]</p>			
			</div>
		</div>
		<div class="large-12 columns">
			<h3>Experience</h3>
			<div class="large-12 columns">
				<div class="large-4 medium-4 columns">				
						<h4>McAfee Inc</h4>											
						<p>Santa Clara,CA</p>										
						<p>Senior Software Engineer</p>											
						<p>Oct 2008 - Present</p>				
				</div>
				<div class="large-8 medium-8 columns">
				<ul>
					<li>Developed the Antipiracy application, which stopped overusing of McAfee product installations during web download process. </li>			
					<li>Architected and developed the <strong>JavaScript framework</strong> for the <strong>Responsive Ecommerce</strong> application with an <i>YSlow rating of 93.</i> </li>
					<li>Developed the client model to integrate with McAfee Ebiz with Intel Federated Identity service using <strong>OAUTH 2.0</strong> protocol.</li>				
					<li>Designed and Implemented the <strong>In-Product E-Commerce purchase flow</strong> for the McAfee Consumer product.</li>
					<li>Worked on re-architecting the consumer purchase process with scalable shopping cart and credit card processing techniques URL for initiating the purchase flow http://home.mcafee.com/Store/.</li>
					<li>Developed the Antipiracy application, which stopped overusing of McAfee product installations during web download process. </li>
				</ul>
				</div>
			</div>
			<hr />
			<div class="large-12 columns">
				<div class="large-4 medium-4 columns">				
						<h4>GRAY Matter Intl</h4>
						<p>Cherry Hill,NJ</p>										
						<p>Software Engineer</p>											
						<p>Jan 2008 - Sep 2008</p>				
				</div>
				<div class="large-8 medium-8 columns">
				<u>Client: CALIFORNIA DEPARTMENT OF HEALTH – RICHMOND, CA</u>
					<p>GDSP is Genetic Disease Screening Program by the California State Department of Health. It contains two programs Pre- Natal (PN) and New Born (NB) screening for the interpretation or determination of possible Genetic Diseases in the fetus of a pregnant mother or a newborn baby.</p>				
				<ul>
					<li>Developed the Pre-Natal screening and follow-up center counseling modules in the system.</li>
					<li>Prepared Optimized Stored procedures for database transactions</li>
					<li>Designed the modules in MVC architecture.</li>
					<li>Used Microsoft Application Blocks for designing.</li>
				</ul>
				<br />
				
				<u>Client: McAfee INC - SANTA CLARA, CA</u>
				<ul>
					<li>Designed and developed the Activation Rules engine that provided customization for the Activation process of all the 225 affiliates of McAfee Inc across all geos. </li>
					<li>Designed and developed a scalable Activation Wizard application which is available during the McAfee Activation Process of the McAfee Consumer product pre-installed on OEM laptops.</li>
				</ul>
				</div>
			</div>
			<hr />
			<div class="large-12 columns">
				<div class="large-4 medium-4 columns">				
						<h4>AMEX Travel Related Technologies</h4>											
						<p>Houston, TX</p>										
						<p>Sr. Developer</p>											
						<p>Dec 2003 – Sep 2007</p>				
				</div>
				<div class="large-8 medium-8 columns">
				<p>ACCOUNT RELATIONSHIP MANAGEMENT OUT BOUND is a Customer Relationship Management Application for the clients of American Express Corporate Cards Clients for Canadian Markets.</p>
				<ul>
					<li>Developed a 3-tier web framework for the CRM application, which added cost savings of 315K per quarter.</li>			
					<li>Developed the user maintenance, contacts information modules in AJAX with XML DOM and JavaScript.</li>
					<li>Involved from requirements gathering stage of the project and till the postproduction support of the same application.</li>				
					<li>Design the front end of the application and as well the database design.</li>
					<li>Generation of reports in Crystal Reports for various American Express-Groups.</li>					
				</ul>
				</div>
			</div>			
		</div>
		<hr />
      	</div>
      </div>
    </div>

    
    <script src="/static/scripts/vendor/jquery.js"></script>
    <script src="/static/scripts/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>